
    body{
    background-color:burlywood;
    }
     

<img src="Snapchat-24665541.jpg" width="150"px height="200px">
      
       table {
            width: 80%;
            border-collapse:collapse;
        }
   
        h1{
            text-align: center;
        }
   
        h1{
            color: red;
        }
   
        p{
            color: blue; font-size: 23px;
        }
        ul{
            color: blue;
        }
    
